@using moxiCommunity.ViewModels
@model List<userDemandsModel>
<p class="moxi--"><a href="/user/Demands">需求管理 </a><a class="active">解决方案</a></p>

@foreach (var m in Model)
{
    <div class="panel panel-default userDemand">
        <div class="panel-body">
            <p class="info small"> 发布时间 : @m.createDate.ToString("yyyy-MM-dd hh:mm")</p>
            <p class="f115"> @m.title</p>
            <p> 预算 : @m.budget 元 </p>
            <div class="f115">
                <span class="solutionCount">解决方案<span class="moxi-color">@m.solutionCount</span>个 </span>
                <span class="btn btn-default btn-xs" data-toggle="collapse" data-target="@("#Demand-"+m.ID)"> 点击展开</span>
            </div>
        </div>
        <div id="@("Demand-"+m.ID)" data-id="@m.ID" class="collapse DemandCollapse">

        </div>
        <br />
    </div>

}

<!-- 模态框（Modal） -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    /*异步展开*/

    $('.DemandCollapse').on('show.bs.collapse', function () {
        var Demand = $(this);
        Demand.html("<div class='moxi-hr'> <s><c></c></s><hr></div><div id='Solutions'>加载中......</div>");
        $.ajax({
            type: "get",
            url: "/topic/mySolutions/" + Demand.attr("data-id"),
            async: true,
            success: function (data) {
                Demand.html(data);
                Demand.find(".btn[sID]").click(function () {
                    $("#editModal .modal-content").html("<div class='modal-body'>加载中......</div>");
                    var sID = $(this).attr("sID");
                    $('#editModal').modal('show');
                    $("#editModal .modal-content").load("/Solution/edit/" + sID, function () {
                        $.validator.unobtrusive.parse($(this));
                    });
                })
            }
        });
    })

    $('.DemandCollapse').on('show.bs.collapse', function () {
        $(this).parent().find("[data-toggle='collapse']").html("点击收起");
    })

    $('.DemandCollapse').on('hide.bs.collapse', function () {
        $(this).parent().find("[data-toggle='collapse']").html("点击展开");
    })






</script>


