@using moxiCommunity.ViewModels
@model BuySolutionAddModel
<div class="panel" id="topicSolution">
    <div class="panel-body">
        <p class="moxi--"><span>推荐解决方案 </span></p>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("AddSolution", "Topic", FormMethod.Post, new { @class = "form-horizontal addForm" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.topicID)

                <div class="form-group">
                    @Html.LabelFor(m => m.goodsLink, new { @class = "col-md-2 control-label" })
                    <div class="col-md-9 col-xs-12">
                        @Html.TextBoxFor(m => m.goodsLink, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.goodsLink, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.body, new { @class = "col-md-2 control-label" })
                    <div class="col-md-9 col-xs-12">
                        @Html.TextAreaFor(m => m.body, new { @class = "form-control", @rows = "10" })
                        @Html.ValidationMessageFor(m => m.body, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="确认发布" class="btn btn-moxiDefault" />
                    </div>
                </div>

            }
        }
        else
        {
            <div style="padding:20px;">
                需要 <a class="btn btn-moxiDefault" href="/user/login">登录</a> 后回复方可回复, 如果你还没有账号你可以 <a class="btn btn-primary" href="#">注册</a> 一个帐号。
            </div>
        }


    </div>

</div>