@using moxiCommunity.ViewModels
@model List<topicPrevModel>
@{
    ViewBag.Title = "代购社区";
}


<div class="panel clearfix">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-md-3">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-moxiDefault" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-edit"></span> 发布需求</button>
                }
                else
                {
                    <a class="btn btn-moxiDefault" href="/user/login?ReturnUrl=/" > <span class="glyphicon glyphicon-edit"></span> 发布需求</a>
                }

            </div>

            <div class="col-xs-8 col-md-5" style="padding-left:0px">

                @using (Html.BeginForm("search", "Topic", FormMethod.Get, new { @class = "form-search" }))
                {
                    <div class="input-group">
                        <span class="input-group-addon">  <span class="glyphicon glyphicon-search "></span></span>
                        <input class="form-control" name="q" type="text" value="@ViewBag.q" placeholder="搜索需求">
                    </div>
                }



            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading node-heading " data-toggle="collapse" data-target="#demo">
        <span class="icon-mark">分类导航</span>

    </div>

    <div id="demo" class="panel-body collapse in">
        <div class="row node-list">

            @foreach (moxiCommunity.Models.proNode m in ViewBag.nodes)
            {
                <div class="node media">
                    <label class="media-left">@m.proClassName</label>
                    <span class="nodes media-body">
                        @foreach (var n in m.ThirdJsons.Take(10))
                        {
                            <span class="name"><a title="@n.proClassName" data-id="@n.proClassID" href="/topics/node/@n.proClassID">@n.proClassName</a></span>
                        }
                    </span>
                </div>
            }
        </div>
    </div>

</div>

<div class="panel panel-default topics-sort">
    <span style="padding:0px 20px;font-weight:bold;">@ViewBag.nodeText</span>
    <div class="btn-group">

        <button type="button" class="btn btn-default active">时间排序 <span class="glyphicon glyphicon-arrow-up"></span></button>
        <button type="button" class="btn btn-default ">热度</button>

    </div>
    <button type="button" class="btn btn-default active"><i class="fa fa-check-square-o"></i> 已采纳</button>
</div>
<div class="panel panel-default">
    <table class="topics table" style="table-layout:fixed">

        <thead>
            <tr>
                <th width="55%">需求内容</th>
                <th>预算(元)</th>
                <th>用户昵称</th>
                <th>解决方案</th>
                <th>评论</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr class="topic">
                    <td nowrap><div class="title"><a href="/topic/@t.ID">@t.title</a></div><div class="info">发布于:@t.creatDate</div></td>
                    <td>@t.budget</td>
                    <td>@t.User.Name</td>
                    <td>@t.solutionCnt</td>
                    <td>@t.replyCnt</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Pagination((int)1, (int)100, (int)20)

@Html.Partial("_topicAdd", new topicAddModel())

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}