@using moxiCommunity.ViewModels
@model topicIndexViewModel
@{
    ViewBag.Title = "代购社区";
}


<div class=" clearfix">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-md-3">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-moxiDefault " data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-edit"></span> 发布需求</button>
                }
                else
                {
                    <a class="btn btn-moxiDefault" href="http://www.moximoxi.net/login.aspx"> <span class="glyphicon glyphicon-edit"></span> 发布需求</a>
                }

            </div>

            <div class="col-md-5 pull-right" style="padding-left:0px">

                @using (Html.BeginForm("search", "Topic", FormMethod.Get, new { @class = "form-search" }))
                {
                    <div class="input-group">
                        <input class="form-control moxi-border" name="q" type="text" value="" placeholder="搜索需求">
                        <span class="input-group-addon moxi-border" ><button> <i  class="glyphicon glyphicon-search "></i></button></span>
                    </div>
                }



            </div>
        </div>
    </div>
</div>
<div class="panel nodes-panel">

    <div id="nodeNav" class="panel-body">
         <div class="node-heading">
            分类
            @if (Model.selectNode.proClassID > 0)
            {
                <span class="moxi-border select-node">@Model.selectNode.proClassName <a href="/" class="fa fa-close"></a></span>
            }
           
        </div>
        <div class="node-list">
            

            @foreach (var m in Model.nodes.Take(2))
            {
                <div class="node">
                    <span class="media-left">@m.proClassName:</span>
                    <span class="nodes media-body">
                        @foreach (var n in m.ThirdJsons)
                        {

                            <span class="name"><a title="@n.proClassName" data-id="@n.proClassID" href="/topic/node/@n.proClassID">@n.proClassName</a></span>

                        }
                    </span>
                </div>
            }

            <div id="nodeCollapse" class="collapse">
                @foreach (var m in Model.nodes.Skip(2))
                {
                    <div class="node">
                        <span class="media-left">@m.proClassName:</span>
                        <span class="nodes media-body">
                            @foreach (var n in m.ThirdJsons)
                            {
                                <span class="name"><a title="@n.proClassName" data-id="@n.proClassID" href="/topic/node/@n.proClassID">@n.proClassName</a></span>

                            }
                        </span>
                    </div>
                }
            </div>
        </div>

    </div>

</div>
<div class="node-col info"> <div data-toggle="collapse" data-target="#nodeCollapse"><i class="fa fa-chevron-down"></i><br /><span>展开</span></div></div>


@if (Model.topicList.Count == 0)
{
    <br />
    <div class="no-topic panel panel-default">

        <p><img src="~/Content/img/cry_03.png" /></p>
        <p>抱歉，没有搜到与您匹配的需求</p>
        <p class="moxi-active">您可以发布需求，让摩西帮你解决</p>
        <button class="btn btn-moxiDefault" style="width:120px;height:32px;" data-toggle="modal" data-target="#myModal"> 发布需求</button>

    </div>
}
else
{
    <div class="panel panel-default topics-sort">

        <button type="button" name="time" class="btn btn-default">时间排序<i></i></button><button type="button" name="hot" class="btn btn-default ">热度<i></i></button><button type="button" name="adopt" class="btn btn-default">已采纳</button><button type="button" name="have" class="btn btn-default">已有解决方案</button>

        <div class="pull-right">共找到到<span>@ViewBag.total</span>个需求 &#60;<span class="moxi-active">@ViewBag.page</span>/@(ViewBag.total / ViewBag.row + 1)&#62;</div>

    </div>
    <div class="panel panel-default">
        <table class="topics table" style="table-layout:fixed">

            <thead>
                <tr>
                    <th>需求内容</th>
                    <th width="10%">预算(元)</th>
                    <th width="15%">用户昵称</th>
                    <th width="8%">解决方案</th>
                    <th width="8%">评论</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.topicList)
                {

                    <tr class="topic">
                        <td nowrap>
                            <div class="@(t.state==2?"AdoptSolution":"")">
                                <span class="title"><a href="/topic/Solutions/@t.ID">@t.title</a></span>
                                <br />
                                <span class="info small">发布于 : @t.creatDate.ToString("yyyy.MM.dd")</span>
                            </div>
                        </td>
                        <td>@t.budget</td>
                        <td>@t.User.Name</td>
                        <td>@t.solutionCnt</td>
                        <td>@t.replyCnt</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div style="text-align:center">

        @Html.Pagination((int)ViewBag.page, (int)ViewBag.total, (int)ViewBag.row)


    </div>

}



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*@Styles.Render("~/Content/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")*@
    <script>
        $(function () {
            //添加modal层
            $("#myModal .modal-content").load("/topic/add", function () {
                $.validator.unobtrusive.parse($(this));
                //$(".selectpicker").selectpicker({});
            });

            $('#nodeCollapse').on('hide.bs.collapse', function () {
                $(".node-col i").removeClass();
                $(".node-col i").addClass("fa fa-chevron-down");
                $(".node-col span").html("展开");
            })

            $('#nodeCollapse').on('show.bs.collapse', function () {
                $(".node-col i").removeClass();
                $(".node-col i").addClass("fa fa-chevron-up");
                $(".node-col span").html("收起");
            })


            



            //排序相关
            var url = location.pathname;
            if (url == "/") url = "/Topic/Index";
            var catchall = url.substring(url.lastIndexOf("/") + 1).split("-")



            var order = catchall[0];
            var by = catchall[1];
            var check = catchall[2];

            var timeB = $(".topics-sort button[name='time']");
            var hotB = $(".topics-sort button[name='hot']");
            var adoptB = $(".topics-sort button[name='adopt']");
            var haveB = $(".topics-sort button[name='have']");



            if (order == "hot") {
                hotB.addClass("active");
                if (by == "asc")
                    hotB.children("i").addClass("glyphicon glyphicon-arrow-up");
                else
                    hotB.children("i").addClass("glyphicon glyphicon-arrow-down");

            }
            else {
                timeB.addClass("active");
                if (by == "asc")
                    timeB.children("i").addClass("glyphicon glyphicon-arrow-up");
                else
                    timeB.children("i").addClass("glyphicon glyphicon-arrow-down");

            }

            if (check == "adopt") {
                adoptB.addClass("active");
            } else if (check == "have") {
                haveB.addClass("active");
            }


            timeB.click(sortClick);
            hotB.click(sortClick);
            adoptB.click(checkClick);

            haveB.click(checkClick);

            function sortClick() {
                var by = $(this).children("i").hasClass("glyphicon-arrow-down") ? "asc" : "desc";
                var order = $(this).attr("name");
                if (catchall.length == 3) {
                    location.href = order + "-" + by + "-" + check;
                } else {
                    location.href = url + "/" + order + "-" + by + "-" + check;
                }
            }

            function checkClick() {
                var check = $(this).attr("name");
                if ($(this).hasClass("active"))
                    check = "no";
                if (catchall.length == 3) {
                    location.href = order + "-" + by + "-" + check;
                } else {
                    location.href = url + "/" + order + "-" + by + "-" + check;
                }
            }
        });
    </script>
}