@using moxiCommunity.ViewModels
@model topicViewModel
@{
    ViewBag.Title = "帖子";
}

<div class="row">

    <div class="col-md-3">

        <div class="panel panel-default clearfix">
            <div class="panel-body">
                <div class="btn-group pull-left">
                    推广1
                </div>


            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">推广</div>
            <div class="panel-body">
                推广2
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">推广</div>
            <ul class="list-group">
                <li class="list-group-item">推广1</li>
                <li class="list-group-item">推广2</li>
                <li class="list-group-item">推广3</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel topicView">
            <div class="panel-body">
                <div class="title"> @Model.title</div>
                <p><span class="user">@Model.User.Name</span><span>发布于：@Model.creatDate.ToString("yyyy年M月d日 hh:mm:sss")</span></p>
                <div class="panel panel-default topicBody">

                    @Model.body

                </div>
                <div class="pull-right">预算：@Model.budget 元</div>
            </div>

        </div>


        <div id="topicReplyTab">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/topic/Solutions/@Model.ID">
                        解决方案
                    </a>
                </li>
                <li class="active"><a href="#repliesTab" data-toggle="tab">评论</a></li>
            </ul>
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="repliesTab">
                <div class="panel">
                    <div class="panel-body">

                        @Html.Partial("_TopicReplyAdd", new TopicReplyAddModel { topicID = Model.ID }, new ViewDataDictionary { { "total", ViewBag.total } })

                        <div id="replies">

                            <p class="moxi--"><span class="active">全部评论 </span></p>

                            @foreach (var s in Model.replies)
                            {
                                <div class="reply">
                                    <div class="avatar"><a href="#"><img class="media-object avatar-48" src="@s.User.avatar"></a></div>
                                    <div class="infos">
                                        <div class="info">
                                            <span class="name">
                                                @s.User.Name
                                            </span>
                                            <span class="time small">
                                                @s.creatDate.ToString("yyyy-M-d")
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div>@s.body</div>

                                            @if(s.agree==null || s.agree.agree == null)
                                            {
                                                <span class="pull-right small info agree-down" replyid="@s.ID"><i class="fa fa-thumbs-down"></i> ( <span class="cnt">@s.agree_down</span> ) </span>
                                                <span class="pull-right small info agree-up" replyid="@s.ID"> <i class="fa fa-thumbs-up"></i> ( <span class="cnt">@s.agree_up</span> ) </span>

                                            }
                                            else if (s.agree.agree==true)
                                            {
                                                <span class="pull-right small info agree-down" replyid="@s.ID"><i class="fa fa-thumbs-down"></i> ( <span class="cnt">@s.agree_down</span> ) </span>
                                                <span class="pull-right small info agree-up active" replyid="@s.ID"> <i class="fa fa-thumbs-up"></i> ( <span class="cnt">@s.agree_up</span> ) </span>

                                            }
                                            else if (s.agree.agree == false)
                                            {
                                                <span class="pull-right small info agree-down active" replyid="@s.ID"><i class="fa fa-thumbs-down"></i> ( <span class="cnt">@s.agree_down</span> ) </span>
                                                <span class="pull-right small info agree-up" replyid="@s.ID"> <i class="fa fa-thumbs-up"></i> ( <span class="cnt">@s.agree_up</span> ) </span>

                                            }
                                            
                                        </div>
                                    </div>

                                </div>

                            }
                        </div>
                    </div>

                </div>
            </div>

            <div style="text-align:center">

                @Html.Pagination((int)ViewBag.page, (int)ViewBag.total, (int)ViewBag.row)


            </div>
        </div>


    </div>



</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(".agree-up[replyID]").click(function () {

                var btn = $(this);

                var replyID = btn.attr("replyID");
                var btn_sib = btn.siblings(".agree-down");
                if (btn_sib.hasClass("active"))
                {
                    btn_sib.removeClass("active");
                    btn_sib.children(".cnt").text(btn_sib.children(".cnt").text()-1);
                }
                   
                if (btn.hasClass("active")) {
                    var url = "/reply/unUp/" + replyID;
                    $.post(url, function (data) {
                        btn.removeClass("active");
                        btn.children(".cnt").text(data);
                    });
                } else {
                    var url = "/reply/up/" + replyID;
                    $.post(url, function (data) {
                        btn.addClass("active");
                        btn.children(".cnt").text(data);
                    });
                }

            });
            $(".agree-down[replyID]").click(function () {
                var btn = $(this);

                var replyID = btn.attr("replyID");

                var btn_sib = btn.siblings(".agree-up");
                if (btn_sib.hasClass("active")) {
                    btn_sib.removeClass("active");
                    btn_sib.children(".cnt").text(btn_sib.children(".cnt").text() - 1);
                }

                if (btn.hasClass("active")) {
                    var url = "/reply/unDown/" + replyID;
                    $.post(url, function (data) {
                        btn.removeClass("active");
                        btn.children(".cnt").text(data);
                    });
                } else {
                    var url = "/reply/down/" + replyID;
                    $.post(url, function (data) {
                        btn.addClass("active");
                        btn.children(".cnt").text(data);
                    });
                }
            });
        });
    </script>
}