@using moxiCommunity.ViewModels
@model topicViewModel
@{
    ViewBag.Title = "帖子";
}

<div class="row">

    <div class="col-md-3">

        @Html.Partial("_banner")
    </div>
    <div class="col-md-9">
        <div class="panel topicView">

            <div class="panel-body">

                <div class="title"> @Model.title</div>
                <p><span class="user">@Model.User.Name</span><span>发布于：@Model.creatDate.ToString("yyyy年M月d日 hh:mm:sss")</span></p>
                <div class="panel panel-default topicBody">

                    @Model.body

                </div>
                <div class="pull-right">预算：@Model.budget 元</div>
                @if (User.IsInRole("admin") && Model.state != 2)
                {
                    <a class="btn btn-danger" method="post" confirm="确认删除该需求?" href="/topic/delete/@Model.ID" ><i class="fa fa-edit"></i> 删除</a>
                    <button class="btn btn-warning AE" topicid="@Model.ID"><i class="fa fa-edit"></i> 管理员修改</button>
                }


            </div>
        </div>

        <div id="topicReplyTab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#Solutions" data-toggle="tab">
                        解决方案
                    </a>
                </li>
                <li>@Html.ActionLink("评论", "replys", "Topic", new { area = "" , id = Model.ID },null) </li>
            </ul>
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="Solutions">

                @{
                    if (Model.AdoptSolution != null)
                    {
                        <div class="panel" data-id="@Model.AdoptSolution.ID">
                            <div class="panel-body AdoptSolution Solution">
                                @if (Model.AdoptSolution.User.lv == 99)
                                {
                                    <p class="moxi--"><span class="active">摩西解决方案 </span></p>
                                }
                                else
                                {
                                    <div class="userInfo ">
                                        <div class="avatar media-left">
                                            <img class="media-object avatar-48" src="@Model.AdoptSolution.User.avatar">
                                        </div>
                                        <div class="infos media-body">
                                            <div class="title media-heading">
                                                <span> 用户：@Model.AdoptSolution.User.Name</span> <span>推荐的方案</span>
                                            </div>
                                            <div class="info small">
                                                时间：@Model.AdoptSolution.creatDate.ToString("yyyy-M-d hh:mm")
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (var s in Model.AdoptSolution.goods)
                                {
                                    <p class="goodsLink">
                                        <b>商品链接：</b> <a target="_blank" class="gl" href="@s.goodsLink"> @s.goodsLink</a>
                                        @if (Model.AdoptSolution.goods.Count > 1)
                                        {
                                            <button class="bwy" data-href="@s.goodsLink">单个购买</button>
                                        }
                                    </p>
                                    <p> 推荐理由： @s.body</p>
                                }

                                <button class="btn btn-moxiDefault buy" href="http://www.moximoxi.net/ajax/AjaxDaigou.aspx">全部购买</button>

                            </div>
                        </div>
                    }
                }


                <div class="panel">
                    <div class="panel-body">



                        @foreach (var m in Model.Solutions)
                        {
                            <div class="Solution">
                                @if (m.User.lv == 99)
                                {
                                    <p class="moxi--"><span class="active">摩西解决方案 </span></p>
                                }
                                else
                                {
                                    <div class="userInfo">
                                        <div class="avatar media-left">
                                            <img class="media-object avatar-48" src="@m.User.avatar">
                                        </div>
                                        <div class="infos media-body">
                                            <div class="title media-heading">
                                                <span> 用户：@m.User.Name</span> <span>推荐的方案</span>

                                            </div>
                                            <div class="info small">
                                                时间：@m.creatDate.ToString("yyyy-M-d hh:mm")
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (var s in m.goods)
                                {
                                    <p class="goodsLink">
                                        <b>商品链接：</b> <a target="_blank" class="gl" href="@s.goodsLink"> @s.goodsLink</a>
                                        @if (m.goods.Count > 1)
                                        {
                                            <button class="bwy" data-href="@s.goodsLink">单个购买</button>
                                        }

                                    </p>
                                    <p> 推荐理由： @s.body</p>
                                }
                                @if (User.Identity.userID() == Model.User.ID && Model.state != 2)
                                {
                                    <a class="btn btn-moxiDefault" method="post" href="/topic/adopt/@m.ID">采用该解决方案</a>
                                }
                                else
                                {
                                    <button class="btn btn-moxiDefault buy">全部购买</button>
                                }

                                @if (User.IsInRole("admin") && m.state != 2)
                                {
                                    <button class="btn btn-warning AD" data-toggle="modal" onclick='$("#SolutionHandleModal #bsID").val(@m.ID)' data-target="#SolutionHandleModal" title="删除解决方案" data-id="@m.ID"><i class="fa fa-trash"></i> 管理员删除</button>
                                }

                                <hr />
                            </div>
                        }

                        @if (ViewBag.all != true && @Model.solutionCnt > 5)
                        {
                            <p class="text-center"><a class="btn btn-default" style="color:#ff6a00" href="/topic/allSolutions/@Model.ID">加载更多解决方案</a>&nbsp;<span class="info">找到相关方案 @Model.solutionCnt 条</span></p>
                        }

                    </div>
                </div>
                <br />
                @Html.Partial("_BuySolutionAdd", new List<BuySolutionAddModel> { new BuySolutionAddModel() }, new ViewDataDictionary { { "id", Model.ID } })
            </div>

        </div>


    </div>



</div>
@if (User.IsInRole("admin"))
{
    @Html.Partial("_SolutionHandle", new SolutionHandleModel(), new ViewDataDictionary { { "actionName", "adminDelete" } });

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            //删除解决方案
            $("#Solutions .opts .AD").click(function () {
                var bsID = $(this).attr("data-id");
                var tar = $(this).attr("data-target");
                var title = $(this).attr("title");
                $(tar + " #bsID").val(bsID);

                $(tar + " #SHMtitle").val(title);

            });


            $(".btn.AE[topicID]").click(function () {
                $("#editModal .modal-content").html("<div class='modal-body'>加载中......</div>");
                var topicID = $(this).attr("topicID");
                $('#editModal').modal('show');
                $("#editModal .modal-content").load("/topic/edit/" + topicID, function () {
                    $.validator.unobtrusive.parse($(this));
                });
            })

            $(".btn.buy").click(function () {
                var actionUrl="http://www.moximoxi.net/ajax/AjaxDaigou.aspx";
                var temp = document.createElement("form");
                temp.action = actionUrl;
                temp.method = "post";
                temp.style.display = "none";

                var input = document.createElement("input");
                input.type = "text";
                input.name = "Method";
                input.value = "GetDaigouListBuy";
                temp.appendChild(input);

                var strT = "";
                $(this).parent().find("a.gl").each(function () {
                    strT += $(this).attr("href") + ",";
                })
                var FromData = strT.substring(0, strT.length - 1);

                var input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "FromData";
                input2.value = FromData;
                temp.appendChild(input2);

                document.body.appendChild(temp);
                temp.submit();
            });

            $(".bwy").click(function () {
                var actionUrl="http://www.moximoxi.net/ajax/AjaxDaigou.aspx";
                var temp = document.createElement("form");
                temp.action = actionUrl;
                temp.method = "post";
                temp.style.display = "none";

                var input = document.createElement("input");
                input.type = "text";
                input.name = "Method";
                input.value = "GetDaigouListBuy";
                temp.appendChild(input);

                var strT = $(this).data('href');
                var input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "FromData";
                input2.value = strT;
                temp.appendChild(input2);

                document.body.appendChild(temp);
                temp.submit();
            });

          

            //$('#SolutionWarnForm').submit(function () {
            //    jQuery.ajax({
            //        url: $(this).attr("action"),
            //        data: $(this).serialize(),
            //        type: "POST",
            //        beforeSend: function () {
            //            $('#warnModel').modal('hide');
            //        },
            //        success: function (data) {
            //            $("#Solutions").children("div.panel[data-id='" + data + "']").remove();
            //        }
            //    });
            //    return false;
            //});
        });
    </script>
}